.sprotty-node {
    fill: var(--vscode-button-background)
}

.sprotty-node.selected {
    stroke-width: 2;
    stroke: var(--vscode-button-secondaryForeground);
}

.comp-label {
    fill: var(--vscode-foreground);
}