.sprotty-node {
    fill: var(--vscode-button-background)
}

.sprotty-node.selected {
    stroke-width: 2;
    stroke: var(--vscode-button-secondaryForeground);
}

.sprotty-label {
    fill: var(--vscode-foreground);
}

.sprotty-port {
    fill: var(--vscode-foreground);
    stroke: #7b337d;
    stroke-width: 1;
}

.sprotty-edge .sprotty-label {
    fill: var(--vscode-editorActiveLineNumber-foreground);
}

.sprotty-edge {
    fill:none;
    stroke: var(--vscode-editorActiveLineNumber-foreground);
    stroke-width: 2px;
}

.sprotty-edge-arrow {
    fill:var(--vscode-editorActiveLineNumber-foreground);
}

.sprotty-edge > .sprotty-routing-handle {
    fill: var(--vscode-editor-selectionBackground);
    stroke: none;
    z-index: 1000;
}

.sprotty-edge > .sprotty-routing-handle[data-kind='line'] {
    opacity: 0.35;
}

.sprotty-edge.selected {
    stroke: orange;
    stroke-width: 3px;
}

.sprotty-edge.mouseover {
    stroke: orange;
    stroke-width: 3px;
}

.sprotty-edge.mouseover:not(.selected) {
    stroke-width: 3px;
}

.sprotty-hidden {
    width: 0px;
    height: 0px;
}